
    .Table
    {
        display: table;
    }
    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
        background-color: #002EB8;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px 4px 0 0;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
    .Hide
    {
        display: none;
    }
    .inner_frame
    {
        border: solid;
        border-width: thin;
        vertical-align: middle; 
        margin-top:15px;
        margin-left:325px;
    }
    #textbox
    {
        vertical-align: middle; 
        margin-top:65px;
        margin-left:375px;
    }
    #my_div
    {
        display: inline;
    }